<div class="row padding-20px">
    <p-button class="padding-20px" label="Candidate Experience > 2 years"  (click)="filterCandidateData()"></p-button>
    <p-button class="padding-20px" label="List Candidate"  (click)="listCandidateData()"></p-button>
    <p-button class="padding-20px" label="Delete development candidate"  (click)="deleteCandidateFromDepartment('Development')"></p-button>
    <p-button class="padding-20px" label="Department Count"  (click)="filterDeptWithCount()"></p-button>
    <div *ngIf="filterData">
    <p-table #dt2 [value]="searchValue" [globalFilterFields]="['firtname']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="department">Department<p-sortIcon field="department"></p-sortIcon></th>
                <th>Joining date</th>
                <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
                <th >Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.department}}</td>
                <td>{{product.joining_date}}</td>
                <td>{{product.id}}</td>
                <td><p-button label="Delete" *ngIf="product.id" (click)="Delete(rowIndex)"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>

<div class="row padding-20px">
    <div *ngIf="!filterData">
    <p-table #dt1 [value]="candidate_data" [globalFilterFields]="['firtname']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="department">Department<p-sortIcon field="department"></p-sortIcon></th>
                <th>Joining date</th>
                <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
                <th >Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.department}}</td>
                <td>{{product.joining_date}}</td>
                <td>{{product.id}}</td>
                <td><p-button label="Delete" *ngIf="product.id" (click)="Delete(rowIndex)"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
    </div>
</div>
