.content-alignment {
    
  text-align: center;
  padding: 0.3rem;
}
.padding-10px {
    padding: 10px;
}
.submit-button-aligment{
    margin-left: 10px
}

.userbackground {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pggoodeveryday.com%2Fsignup%2F&psig=AOvVaw0DTXIng5KKpJzunJH-dPFe&ust=1613661145833000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjhsbaa8e4CFQAAAAAdAAAAABAE');
}